@tailwind base;
@tailwind components;
@tailwind utilities;

/* theme */
@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 224 71.4% 4.1%;
      --popover: 0 0% 100%;
      --popover-foreground: 224 71.4% 4.1%;
      --primary: 37deg 69.77% 16.86%;
      --primary-foreground: 210 20% 98%;
      --secondary: 34.44deg 24.32% 43.53%;
      --secondary-foreground: 210 20% 98%;
      --muted: 34.44deg 24.32% 43.53%;
      --muted-foreground: 39 7% 60%;
      --accent: 2.37deg 70.37% 57.65%;
      --accent-foreground: 210 20% 98%;
      --border: 34.44deg 24.32% 43.53%;
      --input: 34.44deg 24.32% 43.53%;
      --ring: 34.44deg 24.32% 43.53%;
      --radius: 0.75rem;
    }
  }
  